<h1> <%= @user.name %></h1>

  <p>Logged in as <%= @user.email %> </p>
      <p>Your own events:</p>
    <% @user.created_events.each do |e| %>
    <%= link_to "#{e.name}", e %><br>
    <% end %>
      <p>Events you are going to attend:</p>
      <% @user.attended_events.where('date > ?', DateTime.now).each do |e| %>
    <%= link_to "#{e.name}", e %><br>
    <% end %>
    <p>Your past events:</p>
      <% @user.attended_events.where('date < ?', DateTime.now).each do |e| %>
    <%= link_to "#{e.name}", e %><br>
    <% end %>
    
