<h1>Events#show</h1>
<p>Name: <%= @event.name %> </p>
<p>Description: <%= @event.description %> </p>
<p>Date: <%= @event.date %> </p>
<p>Location: <%= @event.location %> </p>
<br>
<p>Creator: <%= @event.creator.name%> </p>
<p> Attendees :</p>
<% @event.attendees.each do |attendee| %>
  <p><%= attendee.name %></p>
<% end %>
<% if current_user && (@event.date > DateTime.now) %>
<div>
  <% if current_user.attended_events.include?(@event) %>
  <%= button_to "UnAttend", unattend_event_path, method: "POST"  %> <br>
  <% else %>
  <%= button_to "Attend", attend_event_path, method: "POST"  %> 
  <%end%>
</div> 
<% end %>